<!--link rel="stylesheet" type="text/css" href="components/home/home.css"-->
<div id="category" class="scrollArea">
        <div class="" ui-list-view="application in applications| filter:search">
            <div class="samplecard navigable" ng-click="$ctrl.installApp(application)">
                <div>{{application.slug}}</div>
            </div>
        </div>
</div>