<!--link rel="stylesheet" type="text/css" href="components/home/home.css"-->
<div id="home" class="scrollArea">
        <div class="" ui-list-view="category in categories| filter:search">
            <div class="samplecard navigable"  ng-click="$ctrl.routeToCategory(category)">
                <div>{{category.name}}</div>
            </div>
        </div>
</div>